{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome to my awesome homepage, {{eleve.prenom}} {{eleve.nom}}
    </p>
{% endblock %}